@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

body {
    font-family: "Vollkorn", serif;
    font-size: 1.15rem;
}

article > p {
    @apply text-justify;
    font-size: 1.15rem;
}

article > h1,
h2,
h3 {
    @apply text-center;
}

pre {
    @apply w-full overflow-x-scroll;
}
code {
    @apply w-full overflow-x-scroll;
}
.katex-display {
    @apply overflow-x-scroll;
}
