<nav class="my-8 w-full">
    <a
        href="/"
        class="inline-block normal-case text-2xl font-bold border border-base-300 p-4 rounded-xl shadow-sm hover:shadow-md hover:border-base-content/30 transition-all duration-300 bg-base-100"
    >
        Artur's Notes
    </a>
</nav>
