<nav class="bg-base-100 my-8">
    <div class="navbar-start">
        <div class="navbar-start">
            <a
                href="/"
                class="normal-case text-2xl font-bold border border-base-300 p-4 rounded-lg shadow-sm"
                >Artur's Notes</a
            >
        </div>
    </div>
</nav>
