---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import "@fontsource/fira-mono";
import Base from "../layouts/Base.astro";
---

<Base>
    <Fragment slot="head">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Artur's Notes</title>
    </Fragment>
    <body class="text-base-content min-h-screen">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <Navbar />
        </div>
        <main class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 pb-20">
            <slot />
        </main>
    </body>
</Base>
